<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
  <fieldset>
    <legend>User data</legend>
  <input name="id" th:field="*{id}" th:value="${user.id}" hidden="hidden">
    <p>
      <label for="name">Name:</label>
      <input type="text" th:field="*{name}" id="name"/><br/>
    </p>
    <p>
      <label th:for="email">E-Mail:</label>
      <input type="email" th:field="*{email}" id="email"/><br/>
    </p>
    <p>
      <label th:for="password">Password:</label>
      <input id="password" type="password" name="password" th:value="*{password}"/><br/>
    </p>
    <p>
      <label>
        <select size="3" multiple="multiple" name="roles" id="roles">
          <option disabled>Roles:</option>
          <option value="ROLE_ADMIN">ADMIN</option>
          <option selected value="ROLE_USER">USER</option>
        </select>
      </label>
    </p>
    </fieldset>
  <input  style="background: lightgray" type="submit" value="Update!">
</form>
<br/>
<form th:action="@{/admin/list}">
  <button style="background: lightgray" type="submit">Back to list</button>
</form>
</body>
</html>