<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <fieldset>
        <legend>New User</legend>
        <p>
            <label for="name">Name</label>>
            <input type="text" th:field="*{name}" id="name"/><br/>
        </p>
        <p>
            <label th:for="label">E-Mail</label>>
            <input type="email" th:field="*{email}" id="email"/><br/>
        </p>
        <p>
            <label th:for="label">Password</label>>
            <input type="password" th:field="*{password}" id="password"><br/>
        </p>
        <p>
            <label>
                <select size="3" multiple="multiple" name="roles" id="roles">
                    <option disabled>Roles:</option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                    <option selected value="ROLE_USER">USER</option>
                </select>
            </label>
        </p>
    </fieldset>
    <input  style="background: lightgray" type="submit" value="Create!">
</form>
<br/>
<form th:action="@{/admin/list}">
    <button style="background: lightgray" type="submit">Back to list</button>
</form>
</body>
</html>